extends ../layout

block content
	h1 Cadastro
	hr
	br
	if messages.erro
		br
		div(class="alert alert-danger")
			each msg in messages.erro
				b= msg
				br
		br
	form(method="POST", action="/usuarios/create", role="form")
		div(class="form-group")
			label Nome Completo
			input(type="text", class="form-control", name="nome", placeholder="Nome Completo", value="#{user.nome || ''}", required)
		div(class="form-group")
			label CPF
			input(type="text", class="form-control", name="cpf", id="cpf", placeholder="00000000000", onblur="return verificarCPF(this.value)", value="#{user.cpf || ''}", required)
			b(id="saida")
		div(class="form-group")
			label Telefone
			input(type="text", class="form-control", name="telefone", placeholder="(00) 0000-0000", value="#{user.telefone || ''}", required)
		div(class="form-group")
			label Cep
			input(type="text", class="form-control", name="cep", placeholder="00000-000", id="cep", size="10", value="#{user.cep || ''}", required)
		div(class="form-group")
			label Endereço
			input(type="text", class="form-control", name="endereco", id="rua", placeholder="Rua/Avenida", value="#{user.endereco || ''}", required)
		div(class="form-group")
			label Número
			input(type="text", class="form-control", name="numero", placeholder="000", value="#{user.numero || ''}", required)
		div(class="form-group")
			label Complemento
			input(type="text", class="form-control", name="complemento", value="" placeholder="Apto. X ou Casa X")
		div(class="form-group")
			label Bairro
			input(type="text", class="form-control", name="bairro", id="bairro", placeholder="Bairro", value="#{user.bairro || ''}", required)
		div(class="form-group")
			label Cidade
			input(type="text", class="form-control", id="cidade", name="cidade", placeholder="Cidade", value="#{user.cidade || ''}", required)
		div(class="form-group")
			label Estado
			input(type="text", class="form-control", id="uf", name="uf", size="2", placeholder="RS", value="#{user.uf || ''}", required)				
		div(class="form-group")
			label E-mail
			input(type="email", class="form-control", name="email", placeholder="E-mail", value="#{user.email || ''}", required)
		div(class="form-group")
			label Senha
			input(type="password", class="form-control", name="password", placeholder="Senha", required)
		div(class="form-group")
			label Confirmar Senha
			input(type="password", class="form-control", name="password_confirmar", placeholder="Confirmar Senha", value="#{user.password_confirmar || ''}" , required)
		button(type="submit", class="btn btn-success", id="id-show") Confirmar Cadastro
	br
	br

block scripts
	script(type="text/javascript").
		$(document).ready(function() {
			function limpa_formulário_cep() {
				$("#rua").val("");
				$("#bairro").val("");
				$("#cidade").val("");
				$("#uf").val("");
				$("#ibge").val("");
				}
			$("#cep").blur(function() {
				var cep = $(this).val().replace(/\D/g, '');
				if (cep != "") {
					var validacep = /^[0-9]{8}$/;
						if(validacep.test(cep)) {
							$("#rua").val("...")
							$("#bairro").val("...")
							$("#cidade").val("...")
							$("#uf").val("...")
							$("#ibge").val("...")
							$.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
								if (!("erro" in dados)) {
									$("#rua").val(dados.logradouro);
									$("#bairro").val(dados.bairro);
									$("#cidade").val(dados.localidade);
									$("#uf").val(dados.uf);
									$("#ibge").val(dados.ibge);
								} else {
									limpa_formulário_cep();
									alert("CEP não encontrado.");
								}
				});
			} //end if.
				else {
							limpa_formulário_cep();
							alert("Formato de CEP inválido.");
							}
			} //end if.
				else {
							limpa_formulário_cep();
							}
			});
		});
	script(src="/js/jquery.mask.min.js")
	script(type="text/javascript").
		$(function(){
			$('input[name="cep"]').mask('00000-000');
			$('input[name="cpf"]').mask('00000000000');
		});
	script(src="/js/validacpf.js")
