extends ../layout

block content
	br
	div(class="col-lg-12")
		a.btn.btn-info(href='/dashboard', role='button') Home
		&nbsp; &nbsp;
		a.btn.btn-primary(href='/usuarios', role='button') Usuários
		&nbsp; &nbsp;
		a.btn.btn-default(href='/entidades', role='button') Entidades
		&nbsp; &nbsp;
		a.btn.btn-default(href='/doacoes', role='button') Doações
		&nbsp; &nbsp;
		a.btn.btn-default(href='/doacoes', role='button') Confirmar
		&nbsp; &nbsp;
		a.btn.btn-default(href='/doacoes', role='button') Enviadas
		&nbsp; &nbsp;
		a.btn.btn-default(href='/configurar', role='button') Configurar
		&nbsp; &nbsp;
	br
	br
	&nbsp; 
	&nbsp;
	h1 Dados do Usuário
	hr
	div(class="col-lg-4")
		p
			b Nome: #{dados.nome}
		p
			b CPF: #{dados.cpf}
	div(class="col-lg-4")
		p
			b Endereço: #{dados.endereco}
		p
			b Número: #{dados.numero}
		p
			b Bairro: #{dados.bairro}
		p
			b Complemento: #{dados.complemento}
		p
			b Cep: #{dados.cep}
		p
			b Cidade: #{dados.cidade}
	div(class="col-lg-4")
		p
			b E-mail: #{dados.email}							
		p
			b Data de Cadastro: #{moment(dados.data_cad).format('DD/MM/YYYY HH:MM:ss')}
	br
