extends ../layout

block content
	br
	div(class="col-lg-12")
		a.btn.btn-info(href='/dashboard', role='button') Home
		&nbsp; &nbsp;
		a.btn.btn-default(href='/usuarios', role='button') Usuários
		&nbsp; &nbsp;
		a.btn.btn-primary(href='/entidades', role='button') Entidades
		&nbsp; &nbsp;
		a.btn.btn-default(href='/doacoes', role='button') Doações
		&nbsp; &nbsp;
		a.btn.btn-default(href='/doacoes', role='button') Confirmar
		&nbsp; &nbsp;
		a.btn.btn-default(href='/doacoes', role='button') Enviadas
		&nbsp; &nbsp;
		a.btn.btn-default(href='/configurar', role='button') Configurar
		&nbsp; &nbsp;	
	br
	br
	h1 Lista de Entidades
	br
	a(href="/entidades/create",class="btn btn-lg btn-success") Cadastrar Entidade
	br
	br
	if messages.erro
		div(class="alert alert-danger")
			p #{messages.erro}
		br
	if messages.info
		div(class="alert alert-success")
			p #{messages.info}
		br
	if lista.length > 0
		table(class="table table-striped")
			thead
				tr
					th Data:
					th Nome:
					th CNPJ:
					th Ações:
			tbody
				each valor in lista
					tr
						td #{moment(valor.data_cad).format('DD/MM/YYYY HH:MM:ss')}
						td #{valor.nomedaentidade}
						td #{valor.cnpj}
						td
							a(href="/entidades/#{valor._id}", class="btn btn-info")
								span(class="glyphicon glyphicon-search")
							span &nbsp;
							a(href="/entidades/edit/#{valor._id}", class="btn btn-primary")
								span(class="glyphicon glyphicon-pencil")
	else
		p Nenhum registro encontrado!
	br
	br
	a(href="/usuarios") Voltar
