extends ../layout

block content
	h1 Entidades
	a(href="/entidades/create",class="btn btn-success") Cadastrar Entidade
	br
	br
	if messages.erro
		div(class="alert alert-danger")
			p #{messages.erro}
		br
	if messages.info
		div(class="alert alert-success")
			p #{messages.info}
		br
	if lista.length > 0
		table(class="table table-striped")
			thead
				tr
					th Data:
					th Nome:
					th CNPJ:
					th Total:
					th Ações:
			tbody
				each valor in lista
					tr
						td #{moment(valor.data_cad).format('DD/MM/YYYY HH:MM:ss')}
						td #{valor.nomedaentidade}
						td #{valor.cnpj}
						td R$ #{valor.valortotal}
						td
							a(href="/entidades/show/#{valor._id}", class="btn btn-info")
								span(class="glyphicon glyphicon-search")
							span &nbsp;
							a(href="/entidades/edit/#{valor._id}", class="btn btn-primary")
								span(class="glyphicon glyphicon-pencil")
	else
		p Nenhum registro encontrado!
