extends ../layout

block content
  div(class="jumbotron")
    div(class="col-lg-8")
      h1 Parabéns!
      br
      h2 Você doou R$ #{dados1.valordoado},00
      p(style="text-align:center")
        | Para finalizar, clique abaixo, para gerar o boleto. 
      p(style="text-align:center")
        | Pague e aguardo as confirmações por e-mail.
      form(method="POST", action="http://www.iboleto.com.br/iboleto/iconnect/iconnect.php", role="form")
        input(type="hidden", class="form-control", name="nome", value="#{dados.nome}")
        input(type="hidden", class="form-control", name="email", value="#{dados.email}")
        input(type="hidden", class="form-control", name="cpf_cnpj", value="#{dados.cpf}")
        input(type="hidden", class="form-control", name="ie_rg", value="2067088928")
        input(type="hidden", class="form-control", name="empresa", value="Teste")
        input(type="hidden", class="form-control", name="endereco", value="#{dados.endereco}")
        input(type="hidden", class="form-control", name="bairro", value="#{dados.bairro}")
        input(type="hidden", class="form-control", name="cidade", value="#{dados.cidade}")
        input(type="hidden", class="form-control", name="estado", value="#{dados.uf}")
        input(type="hidden", class="form-control", name="cep", value="#{dados.cep}")
        input(type="hidden", class="form-control", name="telefone", value="#{dados.telefone}")
        input(type="hidden", class="form-control", name="cod_conta", value="13788")
        input(type="hidden", class="form-control", name="cod_user", value="21680")
        input(type="hidden", class="form-control", name="cod_aut", value="156949880")
        input(type="hidden", class="form-control", name="cad_cli", value="1")
        input(type="hidden", class="form-control", name="email_admin", value="1")
        input(type="hidden", class="form-control", name="check_email_address", value="sim")
        input(type="hidden", class="form-control", name="texto_email", value="1")
        input(type="hidden", class="form-control", name="valor_boleto", value="#{dados1.valordoado}")
        input(type="hidden", class="form-control", name="data_order", value="nome,email,senha,cpf_cnpj,ie_rg,empresa,endereco,bairro,cidade,estado,cep,telefone")
        input(type="hidden", class="form-control", name="redir", value="http://comdica.heroku.com/obrigado")
        input(type="hidden", class="form-control", name="descricao", value="Boleto gerado para doacao e abatimento do Imposto de Renda. Usando como base a lei fiscal XXXX.")
        button(type="submit", class="btn btn-success") Gerar Boleto aqui!
    div(class="col-lg-4")
      img(src='../images/obrigado.jpg', class="img-circle img-responsive")
    
