extends ../layout

block content
	h1 Doações
	br
	br
	if messages.erro
		div(class="alert alert-danger")
			p #{messages.erro}
		br
	if messages.info
		div(class="alert alert-success")
			p #{messages.info}
		br
	if listar.length > 0
		p Doação Já Efetuada
			table(class="table table-striped")
				thead
					tr
						th Logo:
						th Entidade:
						th Data da doação
						th Valor:
						th
				tbody
					each valor in listar
						tr
							td
								p Logo
							td 
								p #{valor._entidades}
							td
								p #{moment(valor.data).format('DD/MM/YYYY HH:MM:ss')}
							td
								p R$ #{valor.valordoado}
							td
								a(href="#", class="btn btn-info")
									span(class="glyphicon glyphicon-search")
								span &nbsp;
	else
		p Faça a sua doação:
		form(method="POST", action="/doar/index/#{session._id}", role="form")
			table(class="table table-striped")
				thead
					tr
						th Logo:
						th Entidade:
						th Valor:
						th
				tbody
					each valor in lista
						tr
							td
								p Logo
									input(type="hidden", name="_id", value="#{session._id}")
							td 
								p #{valor.nomedaentidade}
									input(type="hidden", name="doacoes[_entidades]", value="#{valor.nomedaentidade}")
							td 
								input(type="text", class="form-control input", name="doacoes[valordoado]")
							td		
		tr
		div(class="col-lg-4")
			p
		div(class="col-lg-4")
			p
		div(class="col-lg-4")
			p
				input(type="text", class="form-control input", id="resultado")
			p
				button(type="submit", class="btn btn-success", id="somar") SOMAR
				&emsp;
				button(type="submit", class="btn btn-success") Gerar Boleto

block scripts
	script(type="text/javascript").
		$(document).ready(function() {
			$("#somar").click(function(){
				var total = 0;
					$('.input').each(function(){
						var valor = Number($(this).val());
							if (!isNaN(valor)) total += valor;
						});
						$("#resultado").val("R$ "+total.toFixed(2));
					});
		});
			
