extends ../layout

block content
	h1 Doações
	br
	a.btn.btn-primary(href='/usuarios/edit/#{session._id}', role='button') Atualizar Dados »
	br
	br
	if messages.erro
		div(class="alert alert-danger")
			p #{messages.erro}
		br
	if messages.info
		div(class="alert alert-success")
			p #{messages.info}
		br
	if listar.length > 0
		p Doações já realizadas
			table(class="table table-striped")
				thead
					tr
						th Logo:
						th Entidade:
						th Data da doação
						th Status
						th Valor:
						th
				tbody
					each valor in listar
						tr
							td
								p Logo
							td 
								p #{valor.beneficiaria}
							td
								p #{moment(valor.data).format('DD/MM/YYYY HH:MM:ss')}
							td
								p #{valor.status}
							td
								p R$ #{valor.valordoado}
							td
								a(href="#", class="btn btn-info")
									span(class="glyphicon glyphicon-search")
								span &nbsp;
		br
		br
		p 
			h4 Fazer nova doação
		form(method="POST", action="/doar/boleto/#{id}", role="form")
			table(class="table table-striped")
				thead
					tr
						th Logo:
						th Entidade:
						th Valor:
						th
				tbody
					each valor in lista
						tr
							td
								img(src='../../img/larpadilha.jpg')
							td 
								p #{valor.nomedaentidade}
									input(type="hidden", name="_identidades", value="#{valor.id}")
									input(type="hidden", name="beneficiaria", value="#{valor.nomedaentidade}")
							td
								input(type="text", class="form-control input", name="valordoado")
							td
								input(type="hidden", class="form-control input", id="resultado", name="valortotal")
			button(type="submit", class="btn btn-success", id="somar") Fazer doação
	else
		p Faça a sua doação:
		form(method="POST", action="/doar/boleto/#{id}", role="form")
			table(class="table table-striped")
				thead
					tr
						th Logo:
						th Entidade:
						th Valor:
						th
				tbody
					each valor in lista
						tr
							td
								img(src='../../img/larpadilha.jpg')
							td 
								p #{valor.nomedaentidade}
									input(type="hidden", name="_identidades", value="#{valor.id}")
									input(type="hidden", name="beneficiaria", value="#{valor.nomedaentidade}")
							td
								input(type="text", class="form-control input", name="valordoado")
							td
								input(type="hidden", class="form-control input", id="resultado", name="valortotal")
			button(type="submit", class="btn btn-success", id="somar") Fazer doação

block scripts
	script(type="text/javascript").
		$(document).ready(function() {
			$("#somar").click(function(){
				var total = 0;
					$('.input').each(function(){
						var valor = Number($(this).val());
							if (!isNaN(valor)) total += valor;
						});
						$("#resultado").val("R$ "+total.toFixed(2));
					});
});
