extends ../layout

block content
	h1 Doações
	br
	br
	if messages.erro
		div(class="alert alert-danger")
			p #{messages.erro}
		br
	if messages.info
		div(class="alert alert-success")
			p #{messages.info}
		br
	if lista.length > 0
		form(method="POST", action="/doar/index/", role="form")
			table(class="table table-striped")
				thead
					tr
						th Logo:
						th Entidade:
						th Valor:
				tbody
					each valor in lista
						tr
							td
								p Foto
									input(type="hidden", name="_usuario", value="#{session._id}")
							td 
								p #{valor.entidade}
									input(type="hidden", name="_entidades", value="#{valor.id}")
							td 
								input(type="text", class="form-control", name="valordoado")
			button(type="submit", class="btn btn-success") Doar
	else
		p - QUE ZERO
			
